<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        General Table
      </header>
      <div class="panel-body">
        <table class="table  table-hover general-table">
          <thead>
          <tr>
            <th>歌曲</th>
            <th>次數</th>
          </tr>
          </thead>
          <tbody>
          <% @logs.each do |log| %>
            <tr>
              <td><%= log.SongNumber %></td>
              <td><%= log.count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @logs %>
      </div>
    </section>
  </div>
