<div class="right-sidebar">
  <div class="right-stat-bar" tabindex="5001" style="overflow: hidden; outline: none;">
    <ul class="right-side-accordion">
      <li class="widget-collapsible">
        <a href="#" class="head widget-head purple-bg active">
          <span class="pull-left"> 熱門點播 (5)</span>
        </a>
        <ul class="widget-container">
          <li>
            <% @hots.each do |s| %>
              <div class="prog-row">
                <div class="user-thumb rsn-activity">
                  <i class="fa fa-music"></i>
                </div>
                <div class="rsn-details ">
                  <p class="text-muted">
                    
                  </p>
                  <p>
                    <%= trans_song_number s.songNumberID %>
                    <%= s.song.SongNameT unless s.song.nil? %>
                  </p>
                </div>
              </div>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
